<template>
  <div id="app">
    <div id="nav">
     
        <b-navbar type="dark" variant="dark">
          <b-navbar-brand href="#">Nuvem de Tags</b-navbar-brand>

          <b-navbar-toggle target="nav_collapse" />

          <b-navbar-nav>
            <b-nav-item to="/"><i class="fa fa-home"></i> Início</b-nav-item>
            <b-nav-item to="importar"><i class="fa fa-file-pdf"></i> Importar</b-nav-item>
            <b-nav-item to="nuvem"><i class="fa fa-cloud"></i> Nuvem</b-nav-item>
            <!-- Navbar dropdowns -->
            <!--<b-nav-item-dropdown text="Lang" right>
              <b-dropdown-item href="#">EN</b-dropdown-item>
              <b-dropdown-item href="#">ES</b-dropdown-item>
              <b-dropdown-item href="#">RU</b-dropdown-item>
              <b-dropdown-item href="#">FA</b-dropdown-item>
            </b-nav-item-dropdown>

            <b-nav-item-dropdown text="User" right>
              <b-dropdown-item href="#">Account</b-dropdown-item>
              <b-dropdown-item href="#">Settings</b-dropdown-item>
            </b-nav-item-dropdown>-->

              <b-nav-item to="sobre"><i class="fa fa-info"></i> Sobre</b-nav-item>

          </b-navbar-nav>

          <b-navbar-nav class="ml-auto">
              <b-nav-item-dropdown right>
          <!-- Using button-content slot -->
              <template slot="button-content"><em><i class="fa fa-cogs"></i> Ajustes</em></template>
              <b-dropdown-item href="#">#</b-dropdown-item>
              <b-dropdown-item href="#">#</b-dropdown-item>
              </b-nav-item-dropdown>
          </b-navbar-nav>


        </b-navbar>

    </div>
    <router-view/>
  </div>
</template>


<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;

}
.container{
  margin-top:  20px;
}
.container-fluid{
  margin-top:  20px;
}
</style>
