<template>
  <div class="container">
   
  <b-card>
     <h5>{{ titulo }}</h5>
     <b-alert :variant="retorno.sucesso ? 'success':'danger'" show dismissible v-if="retorno">
        {{ retorno.msg }}
     </b-alert>
     <b-form @submit.prevent="onSubmit" >
       
        <b-form-file
        v-model="documento"
        :state="Boolean(documento)"
        placeholder="Selecione um documento..."
        drop-placeholder="Drop file here..."
        required
      />

      <div style="margin-bottom: 20px"></div>

      <b-form-input v-model="tema" :state="Boolean(tema)" required type="text" placeholder="Título do documento" />

      <div style="margin-bottom: 20px"></div>

      <b-button type="submit" variant="primary" :disabled="isCarregando">
        <span v-if="isCarregando">
          <b-spinner label="Spinning" small /> Por favor, aguarde ... 
        </span>
        <span v-else>
           Enviar
        </span>
      </b-button>
      </b-form>

      <div v-if="retorno.palavras">
      <hr>
        <h5>Resultado</h5>
         <b-table striped hover :items="retorno.palavras" :fields="fields" />
      </div>
  </b-card>

  </div>
</template>

<script>


export default {
  name: 'importar',
  data() {
      return {
          titulo:'Importar Documento',
          documento: null,
          tema: null,
          isCarregando: false,
          retorno: '',
          fields: {
            palavra: {
              label: 'Palavra',
              sortable: true
            },
            quantidade: {
              label: 'Quantidade',
              sortable: true
            },
          },
      }
  },
  methods:{
    onSubmit(event){
      this.retorno = ''
      this.isCarregando = true
      const self = this
      var fd = new FormData();
      fd.append('documento', this.documento);
      fd.append('tema', this.tema);
      


      this.$http({
        method: 'post',
        url: `${this.$api}documento/`,
        data: fd,
        config: { headers: {'Content-Type': 'multipart/form-data' }}
      })
      .then(function (response) {
          console.log(response.data);
          self.retorno = response.data
          if(self.retorno.sucesso)
            self.retorno.msg = self.retorno.msg + ` - Tema: ${self.tema}`
          self.tema = null
          self.documento = null
          self.isCarregando = false
        
      })
      .catch(function (response) {
          console.log(response);
          self.retorno = {'sucesso':false,'msg':'Por favor, envie o documento novamente'}
          self.isCarregando = false
      });

      
      /*this.$http.get
      (`${this.$api}documento/`)
      .then(response => (console.log(response.data) ))
      .catch(error => console.log(error))*/
     
    },

  },
  components: {
  }
}
</script>
