<template>
  <div class="container">
    <b-card>
      <h5>{{ titulo }}</h5>
    </b-card>
  </div>
</template>

<script>


export default {
  name: 'inicio',
  data() {
      return {
          titulo:'Página Inicial'
      }
  },
  components: {
  }
}
</script>
