<template>
  <div class="container">
    <b-card>
      <h5>{{ titulo }}</h5>
      <wordcloud v-if='!isCarregando'
      :data="defaultWords"
      nameKey="palavra"
      valueKey="quantidade"
      :color="myColors"
      :showTooltip="true"
      :wordClick="wordClickHandler">
      </wordcloud>
      <div v-else style="text-align: center; margin-top: 10%; margin-bottom: 10%;"><b-spinner type="grow" label="Loading..." /> Gerando a nuvem...</div>
      <hr>
      <h5>Documentos</h5>
      <b-row style="margin-bottom: 10px;">
      <b-col md="12">
        <b-form-group label-cols-sm="12" class="mb-0">
          <b-input-group>
            <b-form-input v-model="filter" placeholder="Buscar..." />
            <b-input-group-append>
              <b-button :disabled="!filter" @click="filter = ''">Limpar</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-form-group>
      </b-col>
      </b-row>
       <b-table v-if="documentos.length"  bordered striped hover :filter="filter"  :items="documentos" :fields="fieldsDocumento" > 
        <template slot="anexo" slot-scope="row">
           <a :href="'https://nuvem-tcc-api.herokuapp.com'+row.item.anexo" target="_blank" style="font-size: 25px; color: red;"><i class="fa fa-file-pdf"></i></a>
         </template>
      </b-table>
       <div v-else style="text-align: center; margin-top: 10%; margin-bottom: 10%;"><b-spinner type="grow" label="Loading..." /> Carregando documentos...</div>
    </b-card>

    <b-modal ref="myModalRef" hide-footer :title="'Documentos Relacionados com ' + palavra_selecionada.toLocaleUpperCase()">
      <div class="d-block text-center">
         <div v-if="!isCarregandoDocumentosRelacionados">
        
         <b-table v-if="documentos_relacionados.length"  bordered striped hover :items="documentos_relacionados" :fields="fields" >
         <template slot="anexo" slot-scope="row">
           <a :href="'https://nuvem-tcc-api.herokuapp.com'+row.item.anexo" target="_blank" style="font-size: 25px; color: red;"><i class="fa fa-file-pdf"></i></a>
         </template>
         </b-table>

         <div v-else>Não há documento relacionado.</div>
         </div>
         <div v-else style="text-align: center;"><b-spinner small type="grow" label="Loading..." /> Aguarde...</div>
      </div>
      <b-button class="mt-3" variant="outline-primary" block @click="hideModal">Fechar</b-button>
    </b-modal>
  </div>
</template>

<script>

import wordcloud from 'vue-wordcloud'
export default {
  name: 'inicio',
  data() {
      return {
        titulo:'Nuvem',
        myColors: ['#1f77b4', '#629fc9', '#94bedb', '#c9e0ef'],
        defaultWords: [],
        isCarregando: false,
        isCarregandoDocumentos: false,
        isCarregandoDocumentosRelacionados: false,
        palavra_selecionada: '',
        documentos_relacionados: [],
        documentos: [],
        filter: null,
        fieldsDocumento:{
          tema:{
            label: 'Título',
            sortable: true
          },
          anexo: {
              label: 'Anexo',
              sortable: false,
          },
        },
        fields: {
            documento: {
              label: 'Título',
              sortable: true
            },
            quantidade: {
              label: 'Quantidade',
              sortable: true
            },
            anexo: {
              label: 'Anexo',
              sortable: false,
            },
        }
      }
  },
  methods: {
    wordClickHandler(name, value, vm) {
       const self = this
       this.palavra_selecionada = name
       this.documentos_relacionados = []
       this.isCarregandoDocumentosRelacionados = true
       self.$refs.myModalRef.show()
       this.$http.get
       (`${this.$api}frequenciadocumento/?palavra=${name}`)
      .then(function(response){
          console.log(response.data)
          self.documentos_relacionados = response.data
          self.isCarregandoDocumentosRelacionados = false
      })
      .catch(error => console.log(error))
    },
    hideModal() {
        this.$refs.myModalRef.hide()
    },
  },
  mounted(){
      this.isCarregando = true
      const self = this
      this.$http.get
      (`${this.$api}frequencia/`)
      .then(function(response){
          console.log(response.data)
          self.defaultWords = response.data
          self.isCarregando = false
      })
      .catch(error => console.log(error))

      this.isCarregandoDocumentos = true
       this.$http.get
      (`${this.$api}documento/`)
      .then(function(response){
          console.log(response.data)
          self.documentos = response.data
          self.isCarregandoDocumentos = false
      })
      .catch(error => console.log(error))

  },
  components: {
      wordcloud
  }
}
</script>

<style>
div.tooltip{
   width: 190px !important;
   height: 60px !important;
}
</style>
