<template>
  <div class="container">
     <b-card>
      <h5>{{ titulo }}</h5>
     </b-card>
  </div>
</template>

<script>


export default {
  name: 'sobre',
  data() {
      return {
          titulo:'Sobre a Aplicação'
      }
  },
  components: {
  }
}
</script>
